<link rel="stylesheet" href="/styles/profile.css" />

<div class='container'>
    <div class='row align-items-center'>
        <div class='col col-md-12'>
            <h1>
                {{#if user.isAdmin}}
                <span title='Admin' style='cursor: default'>⭐</span>
                {{/if}} {{{user.username}}}
            </h1>
        </div>
    </div>
    <div class='row'>
        <div class='col col-md-12'>
            <hr />
        </div>
    </div>
    <div class='row'>
        <div class='col col-md-12 div-btn-panel'>
            <button class='btn btn-warning btn-profile' id='btn-start-workout'>Start Workout</button>
        </div>
    </div>
    <div class='row'>
        <div class='col col-md-4 div-btn-panel'>
            <button class='btn btn-primary btn-profile' id='btn-routines'>Routines</button>
        </div>
        <div class='col col-md-4 div-btn-panel'>
            <button class='btn btn-info btn-profile' id='btn-view-workouts'>Completed Workouts</button>
        </div>
        <div class='col col-md-4 div-btn-panel'>
            <button class='btn btn-success btn-profile' id='btn-stats'>Stats</button>
        </div>
    </div>
    <div class='row'>
        <div class='col col-md-12'>
            <hr />
            ⚙️<a href='/profile/settings' id='link-settings'>Settings</a>
        </div>
    </div>
</div>

<script>
    $('#btn-routines').click(() => { window.location.href = '/routines' });
    $('#btn-view-workouts').click(() => { window.location.href = '/workouts' });
    $('#btn-stats').click(() => { window.location.href = '/profile#' });

    $('#btn-start-workout').click(() => { window.location.href = '/workouts'})
</script>

<script>
    $(document).ready(function () {
        $('#btn-stats').hover(function () {
            $(this).html('Coming soon');
        }, function () {
            $(this).html('Stats');
        });
    });
</script>