<link rel="stylesheet" href="/styles/profile.css" />

<div class='container'>

    <div class='row'>
        <h1>Your exercises</h1>
    </div>

    <div class='row'>

        <div class='col col-md-2'>

            <a class="btn btn-success btn-modal" data-toggle="modal" data-target="#addExerciseModal">
                New Exercise
            </a>

            <hr />

            <div class="dropdown-limit">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Training
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/profile/exercises">All</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/profile/exercises?training=cardio">Cardio</a>
                    <a class="dropdown-item" href="/profile/exercises?training=strength">Strength</a>
                    {{!-- <a class="dropdown-item" href="/news/all">All</a> --}}
                </div>
            </div>

            <input type='text' name='Search' placeholder="Filter">

            <button class='btn btn-primary'>Refresh</button>

        </div>

        <div class='col col-md-10'>

            <table class='table'>
                <thead>
                    <tr>
                        <th scope='col'>Name</th>
                        <th scope='col'>Training</th>
                        <th scope='col'>Type</th>
                    </tr>
                </thead>
            </table>

        </div>

    </div>
</div>

{{> addExerciseModal}}