<h1>What's new?</h1>
<h4>Check out the new features!</h4>
<br />
<br />

<h5>Here's a new feature!</h5>
<span><i>10/31/2019 12:31PM</i></span>
<br />
<span>Yaht yaht yaht yaht yaht yaht yaht yaht yaht Yaht yaht yaht yaht yaht yaht yaht yaht yaht Yaht yaht yaht yaht yaht yaht yaht yaht yaht Yaht yaht yaht yaht yaht yaht yaht yaht yaht...</span>
<br />
<a href="#">Read more</a>
<br />
<br />

<h5>Oh my god here's another one!</h5>
<span><i>11/2/2019 2:39PM</i></span>
<br />
<span>Isn't this fantastic! Isn't this fantastic! Isn't this fantastic! Isn't this fantastic! Isn't this fantastic! Isn't this fantastic! Isn't this fantastic! Isn't this fantastic!...</span>
<br />
<a href="#">Read more</a>
<br />
<br />

<h5>How can this be?</h5>
<span><i>11/2/2019 2:39PM</i></span>
<br />
<span>aaaaaaa aaaaaaa aaaaaaa aaaaaaa aaaaaaa aaaaaaa aaaaaaa aaaaaaa aaaaaaa aaaaaaa aaaaaaa aaaaaaa aaaaaaa aaaaaaa aaaaaaa aaaaaaa aaaaaaa aaaaaaa aaaaaaa aaaaaaa aaaaaaa aaaaaaa ...</span>
<br />
<a href="#">Read more</a>
<br />
<br />

<button class='btn btn-outline-primary' href='/news'>See more!</button>