<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Register</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id='registerForm' action='/register' method='post'>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Give yourself a username</label>
                        <input name='username' class="form-control" id="inputUsername" aria-describedby="emailHelp" placeholder="Username">
                        <small class="form-text text-muted">Usernames must be at least 3 characters long.</small>
                    </div>
                    <span id='usernameAlert' style='color: red'></span>
                    <hr />
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input name='email' class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Confirm email address</label>
                        <input name='emailConfirm' class="form-control" id="inputEmailConfirm" aria-describedby="emailHelp" placeholder="Confirm email">
                    </div>
                    <span id='emailAlert' style='color: red'></span>
                    <hr />
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input name='password' type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Confirm password</label>
                        <input name='passwordConfirm' type="password" class="form-control" id="inputPasswordConfirm" placeholder="Confirm password">
                        <small id='passwordLabel' class="form-text text-muted">Passwords must be at least 8 characters long
                            and contain at least one number and one alphabetical character.</small>
                    </div>
                    <span id='passwordAlert' style='color: red'></span>
                </div>
                <div class="modal-footer">
                    <button id="formSubmit" type="button" class="btn btn-primary" onclick="checkAllValidators()">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/functions/validators.js"></script>
<script>
    function checkAllValidators() {
        
        let noErrors = true;

        /********** Username Validation **********/
        let username = $('#inputUsername').val();
        let validName = 3 < username.length ? true : false;
        
        if (!validName) {
            $('#usernameAlert').text("Username is not valid!");
            noErrors = false;
        } else {
            $('#usernameAlert').text("");
        }
        /********** End Username Validation **********/


        /********** Email Validation **********/
        let email = $('#inputEmail').val();
        let emailConf = $('#inputEmailConfirm').val();

        let validEmail = Validators.validateEmail(email);

        // Check if emails match.
        if (email != emailConf) {
            $('#emailAlert').text("Emails don't match!");
            noErrors = false;
        // If emails match, check if email is valid.
        } else if (!validEmail) {
            $('#emailAlert').text("Email is not valid!");
            noErrors = false;
        } else {
            $('#emailAlert').text("");
        }
        /********** End Email Validation **********/


        /********** Password Validation **********/
        let pswd = $('#inputPassword').val();
        let pswdConf = $('#inputPasswordConfirm').val();

        let tuple = Validators.validatePassword(pswd)
        let validPswd = tuple[0];
        let message = tuple[1];

        // Check if passwords match.
        if (pswd != pswdConf) {
            $('#passwordAlert').text("Passwords don't match!");
            noErrors = false;
        // If passwords match, check if password is valid.
        } else if (!validPswd) {
            $('#passwordAlert').text(message);
            noErrors = false;
        } else {
            $('#passwordAlert').text("");
        }
        /********** End Password Validation **********/

        if (noErrors) {
            $('#registerForm').submit();
        }
    }
</script>