<div class='container'>
    <div class='row'>
        <div class='col-sm-4' align='left'>
            {{> newsfeed}}
        </div>
        <div class='col-sm-8' align='left'>
            <h1>Welcome to Gym Rat 🐀!</h1>
            <h4>But what is Gym Rat?</h4>
            <br />
            <br />
            <div class='fakeimg'>
                Fake image
            </div>
            <p><i>This photo has yet to be taken because I'm lazy!</i></p>
            <p>
                So let's talk. This is a website meant for people who want a light-weight exercise tracking
                web app that doesn't bundle a bunch of social media junk. Let's just be honest: no one wants to
                be going around sharing with their friends and coworker how much they weigh or how often we all
                don't actually exercise!
            </p>
            <p>
                In addition a lot of simple, quality-of-life features that you would expect to be available in every
                workout app are so often greedily locked behind paywalls as well (Looking at you MyFitnessPal) and
                this service will offer these features for free, for everyone. Boy is my face going to be red if this
                site ever takes off and I start charging people for "Pro Accounts" or the ability to convert between
                simple measurements.
            </p>
            <p>
                <b>Sign up today so that you can begin (or continue!) your exercise experience! For free too!</b>
            </p>
        </div>
    </div>
</div>