<div class='container'>
    <div class='row'>
        <div class='col-sm-4' align='left'>
            <h1>Index page</h1>
            <h5>Read more below</h5>
        </div>
        <div class='col-sm-8' align='left'>
            <h1>Bigger column over here!</h1>
            <h5>Read even more over here!</h5>
            

        </div>
    </div>
</div>