<div class='container'>
    <div class='row'>
        <div class='col col-md-8 page-title' id='col-main-content'>
            <h1>What's new?</h1>
            {{#if user.isAdmin}}
            <button class='btn btn-success'>Add</button>
            {{/if}}
            <h3>November 2019</h3>
            <div class='update-box'>
                <h2>Title for this update</h2>
                <h5>Subtitle for this update with a bit more text</h5>
                <span><i>November 19, 2019 (1:42PM)</i></span>
                <br />
                <br />
                <p>Description for this update that blah blah blah blah blah blah blah blah blah blah blah blah blah blah
                    blah blah blah blah blah blah blah...</p>
            </div>
            <div class='update-box'>
                <h2>Title for this update</h2>
                <h5>Subtitle for this update with a bit more text</h5>
                <span><i>November 19, 2019 (1:42PM)</i></span>
                <br />
                <br />
                <p>Description for this update that blah blah blah blah blah blah blah blah blah blah blah blah blah blah
                    blah blah blah blah blah blah blah...</p>
            </div>
            <div class='update-box'>
                <h2>Title for this update</h2>
                <h5>Subtitle for this update with a bit more text</h5>
                <span><i>November 19, 2019 (1:42PM)</i></span>
                <br />
                <br />
                <p>Description for this update that blah blah blah blah blah blah blah blah blah blah blah blah blah blah
                    blah blah blah blah blah blah blah...</p>
            </div>
        </div>
    </div>
</div>