<link rel="stylesheet" href="/styles/profile.css" />

<div class='container'>
    <div class='row'>

        <div class='col col-md-12'>
            <h1>Your exercises</h1>

            <hr />

            <div class='row'>

                <button class='btn btn-success'>+New</button>

                <div class="dropdown-limit">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Show {{current}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/profile/exercises">All</a>
                        <a class="dropdown-item" href="/profile/exercises?training=cardio">Cardio</a>
                        <a class="dropdown-item" href="/profile/exercises?training=strength">Strength</a>
                        <div class="dropdown-divider"></div>
                        {{!-- <a class="dropdown-item" href="/news/all">All</a> --}}
                    </div>
                </div>

                <input type='text' name='Search'>

            </div>
            
            <hr />

            <table class='table'>
                <thead>
                    <tr>
                        <th scope='col'>Name</th>
                        <th scope='col'>Training</th>
                        <th scope='col'>Type</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
</div>