<link rel="stylesheet" href="/styles/profile.css" />

<div class='container'>
    <div class='row'>
        <div class='col-md-12'>
            <h1>Profile settings</h1>
            <hr />
        </div>
    </div>
    <div class='row'>
        <div class='col-md-12'>

            <h4>Change email</h4>
            <form action='/profile/changeEmail' method='post'>
                <div class="form-group div-settings-panel">
                    <input name='email' class="form-control"placeholder="Email">
                    <input type='submit' class='btn btn-primary' value='Update'></input>
                </div>
            </form>

            <hr />

            <h4>Change username</h4>
            <form action='/profile/changeUsername' method='post'>
                <div class="form-group div-settings-panel">
                    <input name='username' class="form-control" placeholder="Username">
                    <input type='submit' class='btn btn-primary' value='Update'></input>
                </div>
            </form>

            <hr />

            <h4>Change password</h4>
            <form id='changePasswordForm' action='/profile/changePassword' method='post'>
                <div class="form-group div-settings-panel">
                    <input name='password' type='password' class="form-control" id='change-password' placeholder="Password">
                    <input name='passwordConfirm' type='password' class="form-control" id='change-password-confirm' placeholder="Confirm Password">
                    <small id='passwordLabel' class="form-text text-muted">Passwords must be at least 8 characters long.</small>
                    {{!-- <input type='submit' class='btn btn-primary' value='Update'></input> --}}
                    <div id='passwordError'></div>
                    <button class='btn btn-primary' type='button' onclick='changePasswordCheck()'>Update</button>
                </div>
            </form>

            <hr />
            
            <div id='danger-zone'>
                <h2 style='color: red'>Danger zone!</h2>
                <hr />

                <h4>Delete all exercise and workout data</h4>
                <button type="button" class="btn btn-danger btn-navbar" data-toggle="modal" data-target="#deleteDataModal">
                    Delete Data
                </button>
                {{> deleteDataModal}}

                <hr />

                <h4>Delete account</h4>
                <button type="button" class="btn btn-danger btn-navbar" data-toggle="modal" data-target="#deleteUserModal">
                    Delete Account
                </button>
                {{> deleteUserModal}}
            </div>

        </div>
    </div>
</div>

{{!-- <script src="/js/validators.js" /> --}}
<script>
    function changePasswordCheck() {

        let newPswd = $('#change-password').val();
        let newPswdConf = $('#change-password-confirm').val();

        if (newPswd != newPswdConf) {
            $('#passwordError').text('The passwords do not match!');
            $('#passwordError').css('color', 'red');
            return;
        }
        
        if (!Validators.validatePassword(newPswd)[0]) {
            $('#passwordError').text('The password you entered is not valid!');
            $('#passwordError').css('color', 'red');
            return;
        }
            
        $('#changePasswordForm').submit();
    }
</script>