<div class='container'>
    <div class='row'>
        <div class='col col-md-12'>
            <h1>About</h1>
            <h3>Eventually this will have something here.</h3>
            <p>Maybe even here too...</p>
        </div>
    </div>
</div>