/* move to index.css */
.p-frontpage-info {
    margin-top: 2rem;
    text-align: center;
}

/* index.css */
.col-md-12 {
    text-align: center;
    margin: auto;
}

/* index.css */
.btn-col {
    width: 10rem;
    height: 5rem;
    font-size: 2rem;
}